<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Files within {{{structure.directory}}}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{{structure.assetDir}}}/css/style.css">

    <link rel="icon" type="image/svg+xml" href="{{{structure.assetDir}}}/images/logo.svg">
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <ol class="breadcrumb custom-separator">
          {{#each project.paths}}
            <li{{#if @last}} class="current"{{/if}}>
            {{#if @last}}
              <span>{{{name}}}</span>
            {{else}}
              <a href="/{{#if url}}{{{url}}}/{{/if}}">{{{name}}}</a>
            {{/if}}
            </li>
          {{/each}}
        </ol>
      </nav>

      <table>
        <thead>
          <tr>
            <th class="column-file-name">
              <span class="file-icon"></span>
              Name
            </th>
            <th class="column-file-last-created">
              Created time
            </th>
            <th class="column-file-last-modified">
              Modified time
            </th>
            <th class="column-file-size text-nowrap">
              File Size
            </th>
          </tr>
        </thead>
        <tbody>
          {{#if project.parent}}
            <tr class="parent">
              <td class="column-file-name">
                <a href="/{{{project.parent.relative}}}" title="{{{project.parent.base}}} ({{{project.parent.title}}})">
                  <!--span class="file-icon">
                    <img class="file-type file-type--structure" src="{{{structure.assetDir}}}/images/{{{project.parent.iconPath}}}" alt="Icon [{{{project.parent.base}}}]">
                  </span-->
                  {{{project.parent.base}}}
                </a>
              </td>
              <td class="column-file-last-created"></td>
              <td class="column-file-last-modified"></td>
              <td class="column-file-size text-nowrap"></td>
            </tr>
          {{/if}}
          {{#each project.files}}
            <tr>
              <td class="column-file-name">
                <a href="/{{{this.relative}}}" title="{{{this.title}}}">
                  <!--span class="file-icon">
                    <img class="file-type{{#if this.iconIsStructure}} file-type--structure{{/if}}" src="{{{../structure.assetDir}}}/images/{{{this.iconPath}}}" alt="Icon [{{{this.ext}}}]">
                  </span-->
                  {{{this.base}}}
                </a>
              </td>
              <td class="column-file-last-created">
                <div class="broken-words">{{{this.stats.birthtime}}}</div>
              </td>
              <td class="column-file-last-modified">
                <div class="broken-words">{{{this.stats.date}}}</div>
              </td>
              <td class="column-file-size text-nowrap">
                <div class="broken-words">{{{this.stats.size}}}</div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td class="text-center" colspan="4">This folder is empty!</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="footer">
      <strong>{{{structure.name}}}</strong> by <a href="{{{author.link}}}" target="_blank">{{{author.username}}}</a>
    </div>

    <script type="text/javascript">
      /* Add JS here */
    </script>
  </body>
</html>
